* {
   margin: 0;
   padding: 0;
}

body {
   font-family: sans-serif;
}

.container {
   max-width: 1140px;
   margin: 0 auto;

}

.top__box {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.text16 {
   font-size: 16px;
   line-height: 26px;
   color: #1F3F68;
   letter-spacing: 0.05em;
   opacity: 0.6;
}

.text__center {
   width: 75%;
   margin: 32px auto 64px;
   line-height: 26px;
   text-align: center;
   letter-spacing: 0.05em;
   opacity: 1;
}

.text__contact {
   text-align: center;
   padding-top: 16px;
   font-size: 20px;
   line-height: 30px;
   letter-spacing: 0.04em;
   color: rgba(255, 255, 255, 0.6);
}

.text__left {
   margin-top: 32px;
   text-align: left;
   font-size: 16px;
   line-height: 26px;
   letter-spacing: 0.05em;
   color: #FFFFFF;
}

.text425 {
   width: 425px;
}

.top-heading {
   width: 504px;
   font-size: 64px;
   font-weight: 300;
   line-height: 74px;
   color: #1F3F68;
   margin-bottom: 32px;
   letter-spacing: 0.04em;
}

.top__button {
   font-size: 16px;
   line-height: 26px;
   text-align: center;
   letter-spacing: 0.04em;
   color: #FFFFFF;
   background: #5A98D0;
   box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
   border-radius: 10px;
   padding: 15px 50px;
   text-decoration: none;
   display: inline-block;
   margin-top: 71px;
}

.heading-contact {
   padding-top: 51px;
   font-size: 44px;
   line-height: 74px;
   text-align: center;
   letter-spacing: 0.04em;
   color: #FFFFFF;
}

.heading-3 {
   font-size: 36px;
   font-weight: 300;
   text-align: center;
   line-height: 46px;
   letter-spacing: 0.05em;
}

.heading__buttom {
   padding-top: 91px;
   text-align: left;
   width: 340.96px;
   font-size: 36px;
   line-height: 46px;
   letter-spacing: 0.05em;
   color: #FFFFFF;
}


.footer__info {
   margin: 20px 0 3px 0;
   font-size: 20px;
   line-height: 30px;
   color: #1F3F68;
}

.contacts__ {
   display: flex;
   justify-content: space-between;
   line-height: 26px;
   letter-spacing: 0.05em;
   color: #FFFFFF;
   margin-top: 64px;
   padding-left: 1.5em;
}

li {
   padding-left: 19.6px;
}

.input-mess {
   margin-left: 56px;
   padding: 21px 0px 21px 42px;
   width: 428px;
   border: 1px solid #356EAD;
   box-sizing: border-box;
   border-radius: 10px;
   font-weight: 300;
   font-size: 16px;
   line-height: 30px;
   letter-spacing: 0.04em;
   color: #1F3F68;
   opacity: 0.2;
}


.button__contacts {
   width: 428px;
   height: 72px;
   margin: 72px 56px 56px 56px;
   font-weight: 500;
   font-size: 16px;
   line-height: 26px;
   text-align: center;
   color: #FFFFFF;
   text-transform: uppercase;
   background: #5A98D0;
   box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
   border-radius: 10px;
}

.top {
   height: 768px;
   margin: 0;
   padding: 0;
   background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}


.header {
   padding-top: 42px;
   display: flex;
   justify-content: space-between;
   list-style-type: none
}

.what-we-do {
   padding-top: 64px;

}

.info__top {
   padding-top: 115px;
   flex-grow: 1;
   background-image: url(Img/top_back.png);
   background-repeat: no-repeat;
   background-position: right center;
}

.content__info {
   padding-top: 64px;
   padding-bottom: 64px;
   background-color: transparent;
   border: 0;
   display: flex;
   justify-content: space-between;
}

.info__ {
   display: flex;
   justify-content: space-between;
}


.content__card {
   width: 359px;
   padding: 44px 32px;
   box-sizing: border-box;
   background: #FFFFFF;
   box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
   border-radius: 10px;
   display: flex;
   flex-direction: column;

}

.card__img {
   align-self: center;
   margin-bottom: 51px;
}

.project {
   margin: 0;
}

.project__item {
   position: relative;
   flex-grow: 1;
}

.project__item_margin {
   margin-right: 32px;
}

.project__img {
   width: 100%;
   border-radius: 10px;
}

.project__parent {
   display: flex;
   justify-content: space-between;
   margin-top: 32px;
   margin-bottom: 112px;
}

.project__text {
   font-size: 32px;
   line-height: 46px;
   text-align: right;
   letter-spacing: 0.05em;
   color: #FFFFFF;
   position: absolute;
   top: 64px;
   right: 64px;
}

.project__text_2 {
   font-size: 28px;
   line-height: 46px;
   text-align: left;
   letter-spacing: 0.05em;
   color: #FFFFFF;
   position: absolute;
   top: 32px;
   left: 32px;
}

.maps {
   width: 100%;
}

.footer {
   width: 1366px;
   margin: auto;
   margin-top: 96px;
   height: 657px;
   left: 0px;
   background: #316099;
}

.hr__line {
   margin-top: 96px;
   width: 100%;
   height: 0px;
   left: 0px;
   opacity: 0.4;
   border: 1px solid #FFFFFF;
}

.copyright {
   margin-bottom: 64px;
   margin-top: 64px;
}

.text__copyright {
   font-size: 16px;
   line-height: 26px;
   letter-spacing: 0.05em;
   color: #FFFFFF;
   opacity: 0.4;
}

.footer__bottom {
   margin: 0;

}

.footer__top {
   display: flex;
   justify-content: space-between;
   position: relative;
}

.footer__text {
   width: 495px;
   margin: 0;
   padding: 0;
   background-color: transparent;
   border: 0;
}

.footer__button {
   font-size: 16px;
   line-height: 26px;
   text-align: center;
   letter-spacing: 0.04em;
   color: #FFFFFF;
   background: #5A98D0;
   padding: 15px 80px;
   text-decoration: none;
   display: inline-block;
   margin-top: 165px;
   position: absolute;
   right: 0;
}

.top__2 {
   height: 250px;
   margin-top: 054px;
   padding: 0;
   background-image: url(img/ContactUS.png);
   background-repeat: no-repeat;
   background-position: center center;
}



.contacts__info {
   margin-top: 135px;
   margin-left: 100px;
   background-color: transparent;
   border: 0;
}

.mess {
   margin: 56px 0 48px 56px;
   padding: 0;
   text-align: left;
}

.cont__photo {
   margin-bottom: 16px;
}

.requisites {
   margin-bottom: 14px;
   font-size: 20px;
   font-weight: 500;
   line-height: 30px;
   letter-spacing: 0.04em;
   color: #1F3F68;
   text-transform: uppercase;
}

.requisites__left {
   margin-top: 40px;
   margin-bottom: 24px;
   font-size: 20px;
   font-weight: 500;
   line-height: 30px;
   letter-spacing: 0.04em;
   color: #1F3F68;
   text-transform: uppercase;
}

.text__reg {
   line-height: 26px;
   letter-spacing: 0.04em;
   color: #1F3F68;
   opacity: 0.6;
}

.li__1 {
   padding-bottom: 16px;
   padding-left: 35px;
   list-style-type: none;
   background: url(img/Phone-1.svg) no-repeat;
   line-height: 26px;
   letter-spacing: 0.04em;
   color: #1F3F68;
   opacity: 0.6;
}

.li__2 {
   list-style-type: none;
   padding-left: 35px;
   background: url(img/Phone-1.svg) no-repeat;
   line-height: 26px;
   letter-spacing: 0.04em;
   color: #1F3F68;
   opacity: 0.6;
}

.li__site {
   padding-bottom: 16px;
   padding-left: 35px;
   list-style-type: none;
   background: url(img/website.svg) no-repeat;
   letter-spacing: 0.05em;
   color: #1F3F68;
   opacity: 0.6;
}


.li__mail {
   padding-left: 35px;
   list-style-type: none;
   background-image: url(img/e-mail.svg);
   background-repeat: no-repeat;
   letter-spacing: 0.05em;
   color: #1F3F68;
   text-decoration: none;
   opacity: 0.6;
}

.text__full {
   margin-top: 32px;
   margin-bottom: 8px;
   margin-left: 56px;
   line-height: 30px;
   letter-spacing: 0.04em;
   color: #1F3F68;
   opacity: 0.8;
}

.card__link {
   font-size: 14px;
   line-height: 30px;
   letter-spacing: 0.05em;
   color: #5A98D0;
   text-decoration: none;
}

.arrow_icon {
   width: 16px;
   padding-left: 20px;
   vertical-align: middle;
}

.form {
   margin-top: 57px;
   margin-right: 92px;
   margin-bottom: 96px;
   padding: 0;
   width: 540px;
   background: #FFFFFF;
   box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
   border-radius: 10px;

}

.maps__box {
   width: 940px;
}



.header__contacts {
   margin: 0;
   padding: 0;
}